{% extends "core/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <article>
        <br>
        <h1>{{ post.title }}</h1>
        <small>Published on: {{ post.published_date }}</small>
        <br>
        <small>Author: {{post.author}}</small>
        
        <div class="post-content">
            {{ post.content|linebreaks }}
        </div>
        
        <hr>
        <br>
        <a href="{% url 'blog:blog_list' %}" class="btn btn-primary">
            ← Back to All Posts
        </a>

        <br>
    
    </article>
{% endblock %}