{% extends "core/base.html" %}

{% block content %}
    <br>
    <h1>Blog Posts</h1>
    <div class="category-nav">
        <hr>
        <a href="{% url 'blog:blog_list' %}"
            class="{%if not current_catgory %}active{% endif %}">
            All Posts
        </a>

        |
        
        {%for category in categories%}
            <a href="{%url 'blog:blog_list' %}?category={{ category.slug }}"
                class="{% if current_category and current_category.slug %}active{% endif %}">
                {{category.name}}
            </a>
            |
        {% endfor %}

        <br><hr><br>

    </div>

    {% for post in posts %}
        <div class="post-card">
            <h2>{{ post.title }}</h2>
            <p class="excerpt">{{ post.excerpt }}</p>
            <small>Published on {{ post.published_date }}</small>
            <br>
            <small>Author: {{post.author}}</small>
            <br><br><br>
            <a href="{% url 'blog:post_detail' post.slug %}" class="btn btn-primary">
                Read Full Post →
            </a>
        
        </div>
        
    {% endfor %}
    <br>

{% endblock %}