{% extends 'core/base.html' %}                     <!-- Line 1: Same inheritance -->

{% block title %}About Us{% endblock %}            <!-- Line 2: Different title -->

{% block content %}                                <!-- Line 3: Different content -->
    <h1>About This Project</h1>
    <p>Implemented Template Inheritance<p>
    <p>Following a strict 11.5-month roadmap to get a job in Bangalore.</p>
    <p>--Template inheritance complete--</p>
{% endblock %}                                     <!-- Line 4: Ends block -->
