{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Templates{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>

<body>
    <header>
        <h1>My Django Learning Project</h1>
        <nav>
            <a href="{% url 'blog:home' %}">Home</a> &nbsp;|&nbsp;
            <a href="{% url 'blog:about' %}">About</a>&nbsp;|&nbsp;
            <a href="{% url 'blog:blog_list' %}">Blog</a>
        </nav>
    </header>

    <div class="content">

    {% block content %}
        <p>Welcome to my first Django learning project. Day - 2 — Templete Inheritence</p>
    {% endblock %}
    </div>

    <footer>
        <p>&copy; 2026 - Day 2 of Learning Django - Template Inheritance</p>
    </footer>
</body>
</html>